@charset "UTF-8";
/*Archivos parciales - segmentación de estilos y funcionalidades*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* mobile first */
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px;
      grid-template-columns: 320px;
  -ms-flex-line-pack: center;
      align-content: center;
}

button {
  height: 48px;
  width: 288px;
  background-color: #00F3BB;
  border: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  margin-top: 16px;
  font-weight: 550;
}

button:hover {
  color: #ffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#00F3BB), to(#0000FE));
  background-image: linear-gradient(to right, #00F3BB, #0000FE);
}

/* Contenedor mobile
.container{
    height:100%;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
} */
h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #ffff;
  font-weight: lighter;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
}

h4 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  text-align: center;
  font-weight: lighter;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  text-align: left;
}

/* 1440px design */
@media (min-width: 1440px) {
  .container {
    background: pink;
    width: 1440px;
  }
}

header {
  width: 100%;
  background-color: #ffff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: white;
}

.navbar-header {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
}

.navbar-menu-mobile {
  color: black;
}

.navbar-container {
  position: absolute;
  background-color: #0000EC;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  overflow: hidden;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
  top: 50px;
}

.navbar-link {
  color: #ffff;
}

.navbar-link:hover {
  text-decoration: line-through;
  color: #00F3BB;
}

.navbar-link:active {
  color: grey;
}

#navbar-header:target .navbar-container {
  height: 224px;
}

#navbar-header:target .open {
  display: none;
}

#navbar-header:target .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close {
  display: none;
}

@media (min-width: 1440px) {
  header {
    height: 80px;
    width: 1440px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-menu-mobile {
    display: none;
  }
  .navbar-header {
    z-index: 0;
    position: static;
  }
  .navbar-container {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    position: static;
    width: 60%;
    margin-right: 100px;
    background-color: #ffff;
  }
  .navbar-link {
    color: #060A24;
  }
  .logo {
    height: 36px;
    width: 36px;
    margin-left: 100px;
  }
}

main .hello {
  background-color: #ffff;
  margin: 70px 16px 24px 16px;
}

main .hello h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #060a24;
}

main .hello .world {
  text-decoration: line-through;
}

main .hello .hellomobile {
  line-height: 22px;
}

main .hello .hellodesktop {
  display: none;
}

main .episode {
  height: 1340px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background: linear-gradient(#0000FF, #0000A3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 90%, 0% 93%);
          clip-path: polygon(0 3%, 100% 0, 100% 90%, 0% 93%);
}

main .episode h2 {
  text-align: left;
  margin-bottom: 21px;
  margin-top: 64px;
}

main .episode iframe {
  margin-bottom: 11px;
  margin-left: 11px;
  margin-right: 11px;
  height: 232px;
  width: 298px;
  border: none;
}

main .phone {
  height: 519px;
  width: 320px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  top: -190px;
}

main .where {
  margin: -150px 16px 54px 16px;
}

main .where h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #060a24;
}

main .where p {
  line-height: 22px;
  margin-top: 8px;
}

main .invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
}

main .invite h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #060a24;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 14px;
}

main .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .theme h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #060a24;
  margin: 48px 16px 37px 16px;
}

main .theme h3 {
  margin-top: 13px;
  margin-bottom: 65px;
}

main .new {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background: linear-gradient(#0000FF, #0000A3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 341px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
}

main .new h2 {
  text-align: center;
}

@media (min-width: 1440px) {
  .main .hello {
    width: 1440px;
    height: 369px;
    padding-left: 200px;
  }
  .main .hello .dot {
    color: #0000EC;
  }
  .main .hello .world {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .hello .hellomobile {
    display: none;
  }
  .main .hello .hellodesktop {
    display: initial;
    font-size: 16px;
    width: 628px;
    height: 48px;
    text-align: left;
  }
  .main .episode {
    height: 1042.6px;
    width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .episode h2 {
    text-align: left;
    margin-bottom: 21px;
    margin-top: 64px;
  }
  .main .invitation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    height: 364px;
    width: 480px;
  }
  .main .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 426px;
  }
  .main .theme h1 {
    margin: 48px 16px 37px 16px;
  }
  .main .theme h3 {
    margin-top: 13px;
    margin-bottom: 65px;
  }
  .main .new {
    width: 1440px;
    height: 518px;
  }
  .main .new h2 {
    font-size: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 62px;
    width: 692px;
  }
  .main .new h2 br {
    display: none;
  }
}

footer {
  background-color: white;
  width: 320px;
  padding: 23px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  cursor: pointer;
}

footer .social i {
  color: black;
}

footer .social i:hover {
  color: #00F3BB;
}

footer .social i:active {
  color: grey;
}

@media (min-width: 1440px) {
  footer {
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1440px;
  }
  footer h4 {
    font-size: 16px;
    margin: 36px 554px 31px 100px;
  }
  footer .social {
    width: 400px;
  }
}
/*# sourceMappingURL=styles.css.map */