*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* mobile first */
body{
    display: grid;
    grid-template-columns: 320px;
    align-content: center;
}
button{
    height: 48px;
    width: 288px;
    background-color: #00F3BB;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 550;
    &:hover{
        color: #ffff;
        background-image: linear-gradient(to right,#00F3BB, #0000FE);
    }
}
/* Contenedor mobile
.container{
    height:100%;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
} */

h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #ffff;
    font-weight: lighter;
}
h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
}
h4{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}
p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    text-align: left;
}

/* 1440px design */

@media (min-width: 1440px) {
    .container {
        background: pink;
        width: 1440px;
    }
}