footer{
    background-color: white;
    width: 320px;
    padding: 23px;
    .social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        cursor: pointer;
        i{
            color: black;
            &:hover{
                color: #00F3BB;
            }
            &:active{
                color: grey;
            }
        }
    }
}
@media (min-width: 1440px) {
    footer {
        height: 95px;
        display: flex;
        align-items: center;
        width: 1440px;
        h4{
            font-size: 16px;
            margin: 36px 554px 31px 100px;
        }
        .social{
            width: 400px;
        }
    }
}
