header{
    width: 100%;
    background-color: #ffff;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    background-color: rgb(255, 255, 255);
}
.navbar-header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.navbar-menu-mobile{
    color: black;
}
.navbar-container{
    position: absolute;
    background-color: #0000EC;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    transition: height 0.4s ease;
    top: 50px;
}
.navbar-link{
    color: #ffff;
}
#navbar-header:target .navbar-container{
    height: 224px;
}
#navbar-header:target .open{
    display: none;
}
#navbar-header:target .close{
    display: flex;
}
.close{
    display: none;
}

